//COLORS
$color-1: #4553ef;
$color-2: #3196ad;
$color-3: #484554;
$color-4: #ADA9BB;
$color-5: #008353;
$color-6: #FF424F;
$white: #FFF;
$gray: #777;
$black: #000;
$grey-light-1: #f7f7f7;
$grey-light-2: #eee;
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Font
$default-font-size: 1.6rem;
