.u-center-text {
    text-align: center;
}

.u-margin-bottom-s {
    margin-bottom: 2rem;
}

.u-margin-bottom-m {
    margin-bottom: 4rem;
}

.u-margin-bottom-b {
    margin-bottom: 8rem;
}

.u-margin-top-b {
    margin-top: 8rem;
}

.u-margin-top-m {
    margin-top: 4rem;
}

.u-margin-top-s {
    margin-top: 2rem;
}

.u-add-bottom-border-1 {
    border-bottom: 1px solid $grey-light-2;
}

.u-add-bottom-border-2 {
    border-bottom: 2px solid $grey-light-2;
}