.section-about {
    //background-color: $grey-light-1;
    margin: 0 2rem;
        text-align: center;
        padding-top: 0;
        padding-bottom: 25rem;    
}

.section-features {
    transform: skewY(-5deg); //direct child
    &>* {
        transform: skewY(5deg);
    }
    margin-top: 10rem;
    padding:20rem 0;
    //background-color: $grey-light-1;
    background-image: linear-gradient(to right, rgba($color-1, 0.5), rgba($color-2, 0.5)),
    url(../images/featuresBg.jpeg);
    background-size: cover;
    background-position: center;
}

.section-department {
    //background-color: $grey-light-1;
    padding: 10rem 0;
}

.section-contact {
    padding: 10rem 0;
    position: relative;
    background-image: linear-gradient(to right, rgba($color-1, 0), rgba($color-2, 0.8));
}

.section-admissions {
    padding: 10rem 0;
    position: relative;
    margin-bottom: 5rem;
}

.events-admissions {
    padding: 10rem 0;
    position: relative;
    margin-bottom: 5rem;
}